.todobar {
  margin: 10px 0px;
}

.todobar h3 {
  text-align: center;
}

.fa.fa-trash-o {
  cursor: pointer;
  display: none;
}

.list-group-item:hover .fa.fa-trash-o {
  display: block;
}

/*.list-group-item:hover {
  background-color: #eee;
}*/
